Question 22

In [3]:
import sqlite3
conn = sqlite3.connect(':memory:')
cur = conn.cursor()
cur.execute('''
CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER)
    ''')
cur.execute('''
INSERT INTO Weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4,'2015-01-04' , 30)
''')
conn.commit()
cur.execute('''
SELECT w1.id
FROM Weather w1
JOIN Weather w2
ON w1.recordDate = 
date(w2.recordDate,'+1 day')
Where w1.temperature >
w2.temperature
''')
results = cur.fetchall()
for row in results:
    print(row[0])

conn.close()

2
4